::ng-deep .mat-stepper-horizontal {
  text-align: -webkit-center !important;
  height: 100% !important;
}

.mat-form-field {
  margin-top: 16px;
}

.drop-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.drop-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: var(--text-color) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background-color: var(--background-color);
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-box:last-child {
  border: none;
}

.drop-list.cdk-drop-list-dragging .drop-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form {
  min-width: 150px;
  max-width: 150px;
  width: 50%;
}

.full-width {
  width: 50%;
  margin: 5px;
}
.container {
  height: 100vh;
  background-color: var(--background-color);
}

::ng-deep .mat-step-text-label {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  color: grey !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #9cfb2b !important;
  color: rgb(129, 129, 129) !important;
}

::ng-deep .mat-stepper-horizontal-line {
  border-top-color: #95f322 !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #ff5757 !important;
  color: #fff !important;
}

::ng-deep .mat-step-icon {
  background-color: #adadad8a !important;
  color: #fff !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--text-color) !important;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: var(--text-color) !important;
}
::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--text-color) !important;
}
::ng-deep .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(146, 146, 146) !important;
}
::ng-deep .mat-focused .placeholder {
  color: var(--text-color) !important;
}
::ng-deep .mat-select-value-text {
  color: var(--text-color) !important;
}
::ng-deep .mat-select-arrow {
  color: var(--text-color) !important;
}
::ng-deep .mat-select-panel {
  background-color: var(--background-color-card) !important;
}
::ng-deep .mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color) !important;
}
::ng-deep .mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-expansion-panel {
  background-color: var(--background-color);
  color: var(--text-color);
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  color: var(--text-color) !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #6ebe0b !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #6ebe0b !important;
}

::ng-deep .mat-checkbox-frame {
  color: var(--text-color) !important;
}

::ng-deep .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  align-items: center;
  color: var(--text-color) !important;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #9cfb2b;
}
.buttonSpace {
  margin-top: 40px;
  margin-left: 15px;
  border-color: var(--text-color) !important;
  color: var(--text-color) !important;
}

.mat-card {
  background-color: var(--background-color-card);
  color: var(--text-color) !important;
  min-width: 250px !important;
  max-width: 500px !important;
  margin-top: 50px !important;
  text-align: justify;
}

.inputField {
  width: 95px !important;
}

.textColor {
  color: var(--text-color) !important;
}

.stroked-button-red {
  border-color: #fa3535;
}

.stroked-button-green {
  border-color: chartreuse;
  margin-left: 25px;
}

.button-green {
  border-color: chartreuse;
}

.button-disabled {
  border-color: #464646;
}

.stroked-button-grey {
  border-color: rgb(117, 117, 117);
}

.true {
  color: greenyellow;
  padding-left: 1px;
}

.false {
  color: #ff7777;
  padding-left: 1px;
}

::ng-deep .mat-tab-label {
  color: var(--text-color) !important
}

::ng-deep .mat-table {
  width: 100% !important;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

::ng-deep .mat-header-cell {
  color: var(--text-color)!important;
  font-weight: bold !important;
}

::ng-deep .mat-cell{
  color: var(--text-color) !important
}

::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px !important;
}

::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 15px !important;
}

::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  padding: 5px !important;
}
