<mat-tab-group
  [selectedIndex]="1"
  mat-stretch-tabs
  class="drop-stretched-tabs mat-elevation-z4 || container"
>
  <div *ngFor="let item of this.roomsArray.Rooms">
    <mat-tab label="{{ item.name }}">
      <div class="content">
        <div
          fxLayout="row wrap"
          fxLayoutGap="16px grid"
          fxLayoutAlign="center center"
        >
          <mat-grid-list
            *ngFor="let device of this.deviceStorage.Devices"
            cols="2"
            rowHeight="2:1"
          >
            <mat-card
              *ngIf="device.Room === item.id"
              class="mat-elevation-z4 || mat-card"
            >
              <mat-card-header style="text-align: center">
                <mat-card-title>{{ device.FriendlyName }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table *ngIf="device.Room === item.id">
                  <tr>
                    <th>PowerState</th>
                    <th>Adapter IP</th>
                  </tr>
                  <tr>
                    <mat-icon
                      [ngClass]="{
                        true: device.Power === 1,
                        false: device.Power === 0
                      }"
                      >grain</mat-icon
                    >
                    <td style="margin-left: 100px">{{ device.ip }}</td>
                  </tr>
                </table>
              </mat-card-content>
              <mat-card-actions>
                <button
                  mat-stroked-button
                  class="stroked-button-red"
                  *ngIf="device.Power === 0"
                  (click)="
                    DevicePowerOn(
                      device.ip,
                      device.Power,
                      device.userName,
                      device.password
                    )
                  "
                >
                  Off
                </button>
                <button
                  mat-stroked-button
                 class="stroked-button-green"
                  *ngIf="device.Power === 1"
                  (click)="
                    DevicePowerOn(
                      device.ip,
                      device.Power,
                      device.userName,
                      device.password
                    )
                  "
                >
                  On
                </button>
                <button
                  mat-stroked-button
                  class="stroked-button-grey"
                  (click)="
                    openBottomSheet(device.ip, device.userName, device.password)
                  "
                >
                  Settings
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-list>
        </div>
      </div>
    </mat-tab>
  </div>
  <mat-tab label="TSAdminMQTT Settings">
    <mat-card class="mat-elevation-z4">
      <mat-card-header style="text-align: center">
        <mat-card-title
          >TSAdminMQTT &nbsp; {{'v ' + this.appVersion}}
          <mat-slide-toggle
            [(ngModel)]="this.global.darkMode"
            (click)="this.saveGlobal()"
            [formControl]="darkTheme"
            >DarkMode</mat-slide-toggle
          > <button mat-stroked-button class="buttonSpace" (click)="openDialog()">Tutorial</button></mat-card-title
        >
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
    <app-setup></app-setup>
  </mat-tab>
</mat-tab-group>
