<mat-tab-group
  [selectedIndex]="1"
  mat-stretch-tabs
  class="drop-stretched-tabs mat-elevation-z4 || container"
>
  <div *ngFor="let item of this.roomsArray.Rooms">
    <mat-tab label="{{ item.name }}">
      <div class="content">
        <div
          fxLayout="row wrap"
          fxLayoutGap="16px grid"
          fxLayoutAlign="center center"
        >
          <mat-grid-list
            *ngFor="let device of this.deviceStorage.Devices"
            cols="2"
            rowHeight="2:1"
          >
            <mat-card
              *ngIf="device.Room === item.id"
              class="mat-elevation-z4 || mat-card"
            >
              <mat-card-header style="text-align: center">
                <mat-card-title>{{ device.FriendlyName }} </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table style="width: 100%" *ngIf="device.Room === item.id">
                  <tr>
                    <th style="text-align: left">PowerState</th>
                    <th style="text-align: left">Adapter IP</th>
                    <th style="text-align: left">TS Version</th>
                    <th style="text-align: left">WIFI</th>
                  </tr>
                  <tr>
                    <mat-icon
                      [ngClass]="{
                        true: device.Power === 1,
                        false: device.Power === 0
                      }"
                      >grain</mat-icon
                    >
                    <td style="margin-left: 100px">{{ device.ip }}</td>
                    <td
                      *ngIf="device.sw !== undefined"
                      style="margin-left: 200px"
                    >
                      {{ device.sw }}
                    </td>
                    <mat-progress-bar
                      *ngIf="device.sw === undefined"
                      mode="indeterminate"
                    ></mat-progress-bar>
                    <td style="margin-left: 100px">
                      <mat-icon
                        class="wifi-green"
                        *ngIf="wifiSignalStrengthCalc(device.wifiSingnal) === 1"
                        >signal_cellular_alt</mat-icon
                      >
                      <mat-icon
                        class="wifi-yellow"
                        *ngIf="wifiSignalStrengthCalc(device.wifiSingnal) === 2"
                        >signal_cellular_alt_2_bar</mat-icon
                      >
                      <mat-icon
                        class="wifi-red"
                        *ngIf="wifiSignalStrengthCalc(device.wifiSingnal) === 3"
                        >signal_cellular_alt_1_bar</mat-icon
                      >
                      <mat-icon
                        class="wifi-red"
                        *ngIf="wifiSignalStrengthCalc(device.wifiSingnal) === 4"
                        >signal_wifi_bad</mat-icon
                      >
                      <tr
                        class="wifi-red"
                        *ngIf="device.wifiSingnal === undefined"
                      >
                        N/A
                      </tr>
                    </td>
                  </tr>
                </table>
              </mat-card-content>
              <mat-card-actions>
                <button
                  mat-stroked-button
                  class="stroked-button-red"
                  *ngIf="device.Power === 0"
                  [disabled]="device.sw === undefined"
                  (click)="DevicePowerOn(device.ip, device.Power)"
                >
                  Off
                </button>
                <button
                  mat-stroked-button
                  class="stroked-button-green"
                  *ngIf="device.Power === 1"
                  [disabled]="device.sw === undefined"
                  (click)="DevicePowerOn(device.ip, device.Power)"
                >
                  On
                </button>
                <button
                  mat-stroked-button
                  class="stroked-button-grey"
                  [disabled]="device.sw === undefined"
                  (click)="
                    openBottomSheet(device.ip, device.userName, device.password)
                  "
                >
                  Settings
                </button>
                <button
                  mat-stroked-button
                  #tooltip="matTooltip"
                  matTooltip="Backup Configuration"
                  [disabled]="device.sw === undefined"
                  class="stroked-button-blue"
                  (click)="backup(device.ip)"
                >
                  Backup
                </button>
                <mat-select
                  [disabled]="device.sw === undefined"
                  (click)="readBackupFolder(device.ip)"
                >
                  <mat-option>Available backups for {{ device.ip }}</mat-option>
                  <mat-option
                    disabled
                    *ngFor="let file of backupFiles"
                    [value]=""
                  >
                    {{ file }}
                    <mat-icon
                      class="deleteIcon"
                      (click)="deleteBackupFile(file, device.ip)"
                      >delete</mat-icon
                    >
                  </mat-option>
                </mat-select>
              </mat-card-actions>
            </mat-card>
          </mat-grid-list>
        </div>
      </div>
    </mat-tab>
  </div>
  <mat-tab label="TSAdminMQTT Settings">
    <mat-card class="mat-elevation-z4">
      <mat-card-header style="text-align: center">
        <mat-card-title
          >TSAdminMQTT &nbsp; {{ 'v' + this.appVersion
          }}&nbsp; | &nbsp; MQTT Broker IP: {{localIp}} &nbsp; | &nbsp; Port: 1883<mat-slide-toggle
            [(ngModel)]="this.global.darkMode"
            (click)="this.saveGlobal()"
            [formControl]="darkTheme"
            >DarkMode</mat-slide-toggle
          >
          <div fxLayout="column" fxLayoutAlign="space-around end">
            <button
              mat-stroked-button
              class="buttonSpace"
              (click)="openTutorialDialog()"
            >
              Tutorial
            </button>
            <button
              mat-stroked-button
              class="stroked-button-reset"
              (click)="openResetDialog()"
            >
              Restore default settings
            </button>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
    <app-setup></app-setup>
  </mat-tab>
</mat-tab-group>
